$windowBg: #1F2C36;									// Window backgrounds
$windowFg: #C5C5C5;									// Main text / chat text
$windowBgOver: #2A3C4A;								// Search bar background
$nullWindowBgOver: #095280;							// Title bar / Mouse over backgrounds, etc
$windowBgRipple: #165F8D;							// Mouse click chats list background
$windowFgOver: $windowFg;
$windowSubTextFg: #A8A8A8;							// Chats list message preview text
$windowSubTextFgOver: #B8B8B8;						// Mouse over chats list message preview text
$windowBoldFg: #C9C9C9;								// Chats list chat name text
$windowBoldFgOver: #D9D9D9;							// Mouse over chats list chat name text
$windowBgActive: #4FB0D6;							// Active button background
$windowFgActive: #EDEDED;							// Active selected chats list text / button text
$windowActiveTextFg: #2599DC;						// Online status, links, recording cancel, etc
$windowShadowFg: #B3B3B3;							// Window border shadows
$windowShadowFgFallback: #042029;					// Notification border
$shadowFg: $rgba(#FFFFFF, 18);								// Internal border shadows
$slideFadeOutBg: $rgba(#000000, 3c);
$slideFadeOutShadowFg: #000000;						// Window slide animation shadow
$imageBg: #000000;
$imageBgTransparent: #ffffff;
$activeButtonBg: $windowBgActive;						// Currently selected button background
$activeButtonBgOver: #39a5db;						// Mouse over currently selected button background
$activeButtonBgRipple: #2C5A7D;						// Mouse click currently selected button background
$activeButtonFg: $windowFgActive;						// Currently selected button text
$activeButtonFgOver: $activeButtonFg;					// Mouse over currently selected button text
$activeButtonSecondaryFg: #cceeff;
$activeButtonSecondaryFgOver: $activeButtonSecondaryFg;
$activeLineFg: #37a1de;
$activeLineFgError: #e48383;
$lightButtonBg: $windowBg;							// Default button background
$lightButtonBgOver: #45525C;							// Mouse over button background
$lightButtonBgRipple: #5F6C76;						// Mouse click button background
$lightButtonFg: $windowActiveTextFg;
$lightButtonFgOver: $lightButtonFg;
$attentionButtonFg: #d14e4e;
$attentionButtonFgOver: #d14e4e;
$attentionButtonBgOver: #fcdfde;
$attentionButtonBgRipple: #f4c3c2;
$outlineButtonBg: $windowBg;
$outlineButtonBgOver: $lightButtonBgOver;
$outlineButtonOutlineFg: $windowBgActive;
$outlineButtonBgRipple: $lightButtonBgRipple;
$menuBg: $windowBg;
$menuBgOver: $nullWindowBgOver;
$menuBgRipple: $windowBgRipple;
$menuIconFg: #6C7983;								// Menu/paperclip/voice/etc icon buttons
$menuIconFgOver: #7B8892;							// Mouse over menu/paperclip/voice/etc icon buttons
$menuSubmenuArrowFg: #373737;
$menuFgDisabled: #cccccc;
$menuSeparatorFg: #f1f1f1;
$scrollBarBg: $rgba(#267db2, 53);								// Scrollbar current position
$scrollBarBgOver: $rgba(#267db2, 7a);							// Mouse over scrollbar current position
$scrollBg: $rgba(#267db2,1a);								// Scrollbar background
$scrollBgOver: $rgba(#267db2, 2c);							// Mouse over scrollbar background
$smallCloseIconFg: #c7c7c7;
$smallCloseIconFgOver: #a3a3a3;
$radialFg: $windowFgActive;
$radialBg: $rgba(#000000, 56);
$placeholderFg: #47768E;								// Inactive input box placeholder text
$placeholderFgActive: #38677F;						// Active input box placeholder text
$inputBorderFg: #e0e0e0;
$filterInputBorderFg: #54c3f3;
$checkboxFg: #b3b3b3;
$sliderBgInactive: #2D5066;							// Inactive media player button (prev/next song)
$sliderBgActive: $windowBgActive;						// Active media player button (prev/next song)
$tooltipBg: #eef2f5;
$tooltipFg: #5d6c80;
$tooltipBorderFg: #c9d1db;
$titleBg: $nullWindowBgOver;							// Title bar
$titleShadow: $rgba(#000000, 03);
$titleButtonFg: #ababab;								// Title bar buttons (min/max/close)
$titleButtonBgOver: #e5e5e5;
$titleButtonFgOver: #9a9a9a;
$titleButtonCloseBgOver: #e81123;
$titleButtonCloseFgOver: $windowFgActive;
$titleFgActive: #85B4CC;								// Active title bar text (Mac)
$titleFg: #57869E;									// Inactive title bar text (Mac)
$trayCounterBg: #f23c34;
$trayCounterBgMute: #888888;
$trayCounterFg: #ffffff;
$trayCounterBgMacInvert: #ffffff;
$trayCounterFgMacInvert: $rgba(#ffffff, 01);
$layerBg: $rgba(#000000, 7f);
$cancelIconFg: $menuIconFg;
$cancelIconFgOver: $menuIconFgOver;
$boxBg: $windowBg;									// Popup box background
$boxTextFg: $windowFg;
$boxTextFgGood: #4ab44a;
$boxTextFgError: #d84d4d;
$boxTitleFg: $windowBoldFg;							// Popup box titles (contacts/sessions/etc boxes)
$boxSearchBg: $boxBg;
$boxSearchCancelIconFg: $cancelIconFg;
$boxSearchCancelIconFgOver: $cancelIconFgOver;
$boxTitleAdditionalFg: #808080;
$boxTitleCloseFg: $cancelIconFg;
$boxTitleCloseFgOver: $cancelIconFgOver;
$membersAboutLimitFg: $windowSubTextFgOver;
$contactsBg: $windowBg;								// Contacts list background
$contactsBgOver: $nullWindowBgOver;					// Contacts list mouse over background
$contactsNameFg: $boxTextFg;
$contactsStatusFg: $windowSubTextFg;					// Contacts list last seen
$contactsStatusFgOver: $windowSubTextFgOver;
$contactsStatusFgOnline: $windowActiveTextFg;
$photoCropFadeBg: $layerBg;
$photoCropPointFg: rgba(#ffffff, 7f);
$introBg: $windowBg;
$introTitleFg: $windowBoldFg;
$introDescriptionFg: $windowSubTextFg;
$introErrorFg: $windowSubTextFg;
$introCoverTopBg: #0f89d0;
$introCoverBottomBg: #39b0f0;
$introCoverIconsFg: #5ec6ff;
$introCoverPlaneTrace: rgba(#5ec6ff, 69);
$introCoverPlaneInner: #c6d8e8;
$introCoverPlaneOuter: #a1bed4;
$introCoverPlaneTop: #ffffff;
$dialogsMenuIconFg: $menuIconFg;
$dialogsMenuIconFgOver: $menuIconFgOver;
$dialogsBg: $windowBg;								// Chats list background
$dialogsNameFg: $windowBoldFg;
$dialogsChatIconFg: $dialogsNameFg;
$dialogsDateFg: $windowSubTextFg;						// Chats list date text
$dialogsTextFg: $windowSubTextFg;						// Chats list message preview text
$dialogsTextFgService: $windowActiveTextFg;			// Chats list message preview sender name
$dialogsDraftFg: #dd4b39;							// Chats list message preview for drafts
$dialogsVerifiedIconBg: $windowBgActive;
$dialogsVerifiedIconFg: $windowFgActive;
$dialogsSendingIconFg: #c1c1c1;
$dialogsSentIconFg: #42a0db;
$dialogsUnreadBg: $windowBgActive;					// Chats list unread counter background
$dialogsUnreadBgMuted: #6C7983;						// Chats list muted unread counter background
$dialogsUnreadFg: #DEDEDE;							// Chats list unread counter text
$dialogsBgOver: $nullWindowBgOver;					// Chats list mouse over background
$dialogsNameFgOver: $windowBoldFgOver;
$dialogsChatIconFgOver: $dialogsNameFgOver;
$dialogsDateFgOver: $windowSubTextFgOver;
$dialogsTextFgOver: $windowSubTextFgOver;
$dialogsTextFgServiceOver: #35A9EC;					// Mouse over chats list message preview sender name
$dialogsDraftFgOver: $dialogsDraftFg;
$dialogsVerifiedIconBgOver: $dialogsVerifiedIconBg;
$dialogsVerifiedIconFgOver: $dialogsVerifiedIconFg;
$dialogsSendingIconFgOver: $dialogsSendingIconFg;
$dialogsSentIconFgOver: $dialogsSentIconFg;
$dialogsUnreadBgOver: $dialogsUnreadBg;
$dialogsUnreadBgMutedOver: $dialogsUnreadBgMuted;
$dialogsUnreadFgOver: $dialogsUnreadFg;
$dialogsBgActive: #38556B;							// Currently selected chat in chats list
$dialogsNameFgActive: $windowFgActive;
$dialogsChatIconFgActive: $dialogsNameFgActive;
$dialogsDateFgActive: $windowFgActive;
$dialogsTextFgActive: $windowFgActive;
$dialogsTextFgServiceActive: $dialogsTextFgActive;
$dialogsDraftFgActive: #c6e1f7;
$dialogsVerifiedIconBgActive: $dialogsTextFgActive;
$dialogsVerifiedIconFgActive: $dialogsBgActive;
$dialogsSendingIconFgActive: rgba(#ffffff, 99);
$dialogsSentIconFgActive: $dialogsTextFgActive;
$dialogsUnreadBgActive: $dialogsTextFgActive;
$dialogsUnreadBgMutedActive: $dialogsDraftFgActive;
$dialogsUnreadFgActive: $dialogsBgActive;
$dialogsForwardBg: $dialogsBgActive;
$dialogsForwardFg: $dialogsNameFgActive;
$searchedBarBg: #273845;								// Search results background
$searchedBarBorder: $shadowFg;
$searchedBarFg: #86A5BD;								// Search results text
$topBarBg: $windowBg;									// Chat header background
$emojiPanBg: $windowBg;								// Sticker panel background
$emojiPanCategories: #1F2C36; // windowBg;			// Sticker panel bottom bar background
$emojiPanHeaderFg: $windowSubTextFg;					// Sticker panel title text
$emojiPanHeaderBg: rgba(#1F2C36, f2); // emojiPanBg;			// Sticker panel top bar background
$stickerPanDeleteBg: rgba(#000000, cc);
$stickerPanDeleteFg: $windowFgActive;
$stickerPreviewBg: rgba(#1F2C36, b0);						// Sticker preview background
$historyTextInFg: $windowFg;
$historyTextOutFg: $windowFg;
$historyCaptionInFg: $historyTextInFg;
$historyCaptionOutFg: $historyTextOutFg;
$historyFileNameInFg: $historyTextInFg;
$historyFileNameOutFg: $historyTextOutFg;
$historyOutIconFg: $dialogsSentIconFg;
$historyOutIconFgSelected: #149ce6;
$historyIconFgInverted: $windowFgActive;
$historySendingOutIconFg: #9dc2d9;
$historySendingInIconFg: #a0adb5;
$historySendingInvertedIconFg: rgba(#ffffff, c8);
$historySystemBg: rgba(#89a0b4, 7f);
$historySystemBgSelected: rgba(#bbc8d4, a2);
$historySystemFg: $windowFgActive;
$historyUnreadBarBg: #394650;
$historyUnreadBarBorder: $shadowFg;
$historyUnreadBarFg: #538bb4;
$historyForwardChooseBg: rgba(#000000, 4c);
$historyForwardChooseFg: $windowFgActive;
$historyPeer1NameFg: #C7473E;						// Group chat sender name
$historyPeer1UserpicBg: #e17076;
$historyPeer2NameFg: #4fad2d;
$historyPeer2UserpicBg: #7bc862;
$historyPeer3NameFg: #d09306;
$historyPeer3UserpicBg: #e5ca77;
$historyPeer4NameFg: $windowActiveTextFg;
$historyPeer4UserpicBg: #65aadd;
$historyPeer5NameFg: #8544d6;
$historyPeer5UserpicBg: #a695e7;
$historyPeer6NameFg: #cd4073;
$historyPeer6UserpicBg: #ee7aae;
$historyPeer7NameFg: #2996ad;
$historyPeer7UserpicBg: #6ec9cb;
$historyPeer8NameFg: #ce671b;
$historyPeer8UserpicBg: #faa774;
$historyPeerUserpicFg: $windowFgActive;
$historyScrollBarBg: rgba(#267db2, 7a);
$historyScrollBarBgOver: rgba(#267db2, bc);
$historyScrollBg: rgba(#267db2, 4c);
$historyScrollBgOver: rgba(#267db2, 6b);
$msgInBg: $windowBg;									// Incoming message background
$msgInBgSelected: #394650;							// Selected incoming message background
$msgOutBg: #003950;									// Outgoing message background
$msgOutBgSelected: #0C5269;							// Selected outgoing message background
$msgSelectOverlay: rgba(#358cd4, 4c);
$msgStickerOverlay: rgba(#358cd4, 7f);						// Selected sticker overlay
$msgInServiceFg: $windowActiveTextFg;					// Incoming reply quoted name
$msgInServiceFgSelected: $windowActiveTextFg;			// Selected incoming reply quoted name
$msgOutServiceFg: $windowActiveTextFg;				// Outgoing reply quoted name
$msgOutServiceFgSelected: $windowActiveTextFg;		// Selected outgoing reply quoted name
$msgInShadow: rgba(#144D7B, 29);								// Incoming message box shadow
$msgInShadowSelected: rgba(#548dbb, 29);						// Selected incoming message box shadow
$msgOutShadow: rgba(#144D7B, 29);							// Outgoing message box shadow
$msgOutShadowSelected: rgba(#548dbb, 29);					// Selected outgoing message box shadow
$msgInDateFg: #525F69;								// Incoming message date text
$msgInDateFgSelected: #6a9cc5;
$msgOutDateFg: #457795;								// Outgoing message date text
$msgOutDateFgSelected: #5e92b2;
$msgServiceFg: #D5D5D5;								// Chat service message text (join/part/date/etc)
$msgServiceBg: rgba(#267db2, 7f);
$msgServiceBgSelected: rgba(#62afdd, a2);
$msgInReplyBarColor: $activeLineFg;
$msgInReplyBarSelColor: $activeLineFg;
$msgOutReplyBarColor: $historyOutIconFg;
$msgOutReplyBarSelColor: $historyOutIconFgSelected;
$msgImgReplyBarColor: $msgServiceFg;
$msgInMonoFg: #2AA198;								// Incoming monospaced / code text
$msgOutMonoFg: #2AA198;								// Outgoing monospaced / code text
$msgDateImgFg: $msgServiceFg;
$msgDateImgBg: rgba(#076CB3, B4);							// Download / play / etc overlay backgrounds
$msgDateImgBgOver: rgba(#076CB3, D4);						// Mouse over download / play / etc overlay backgrounds
$msgDateImgBgSelected: rgba(#1c4a71, 87);
$msgFileThumbLinkInFg: $lightButtonFg;
$msgFileThumbLinkInFgSelected: $lightButtonFgOver;
$msgFileThumbLinkOutFg: $lightButtonFg;
$msgFileThumbLinkOutFgSelected: $lightButtonFgOver;
$msgFileInBg: $windowBgActive;
$msgFileInBgOver: #4eade3;
$msgFileInBgSelected: #51a3d3;
$msgFileOutBg: $windowBgActive;
$msgFileOutBgOver: #4eade3;
$msgFileOutBgSelected: #51a3d3;
$msgFile1Bg: #72b1df;
$msgFile1BgDark: #5c9ece;
$msgFile1BgOver: #5294c4;
$msgFile1BgSelected: #5099d0;
$msgFile2Bg: #61b96e;
$msgFile2BgDark: #4da859;
$msgFile2BgOver: #44a050;
$msgFile2BgSelected: #46a07e;
$msgFile3Bg: #e47272;
$msgFile3BgDark: #cd5b5e;
$msgFile3BgOver: #c35154;
$msgFile3BgSelected: #9f6a82;
$msgFile4Bg: #efc274;
$msgFile4BgDark: #e6a561;
$msgFile4BgOver: #dc9c5a;
$msgFile4BgSelected: #b19d84;
$msgWaveformInActive: $windowBgActive;
$msgWaveformInActiveSelected: #51a3d3;
$msgWaveformInInactive: #d4dee6;
$msgWaveformInInactiveSelected: #9cc1e1;
$msgWaveformOutActive: $windowBgActive;
$msgWaveformOutActiveSelected: #51a3d3;
$msgWaveformOutInactive: #b3d4e7;
$msgWaveformOutInactiveSelected: #87bcdb;
$msgBotKbOverBgAdd: rgba(#ffffff, 20);
$msgBotKbIconFg: $msgServiceFg;
$msgBotKbRippleBg: rgba(#000000, 20);
$mediaInFg: $msgInDateFg;
$mediaInFgSelected: $msgInDateFgSelected;
$mediaOutFg: $msgOutDateFg;
$mediaOutFgSelected: $msgOutDateFgSelected;
$youtubePlayIconBg: rgba(#e83131, c8);
$youtubePlayIconFg: $windowFgActive;
$videoPlayIconBg: rgba(#000000, 7f);
$videoPlayIconFg: #ffffff;
$toastBg: rgba(#000000, b2);
$toastFg: $windowFgActive;
$reportSpamBg: $emojiPanHeaderBg;
$reportSpamFg: $windowFg;
$historyToDownShadow: rgba(#000000, 40);
$historyComposeAreaBg: $msgInBg;
$historyComposeAreaFg: $historyTextInFg;
$historyComposeAreaFgService: $msgInDateFg;
$historyComposeIconFg: $menuIconFg;
$historyComposeIconFgOver: $menuIconFgOver;
$historySendIconFg: $windowBgActive;
$historySendIconFgOver: $windowBgActive;
$historyPinnedBg: $historyComposeAreaBg;
$historyReplyBg: $historyComposeAreaBg;
$historyReplyCancelFg: $cancelIconFg;
$historyReplyCancelFgOver: $cancelIconFgOver;
$historyComposeButtonBg: $historyComposeAreaBg;
$historyComposeButtonBgOver: $nullWindowBgOver;
$historyComposeButtonBgRipple: $windowBgRipple;
$overviewCheckBg: rgba(#000000, 40);
$overviewCheckFg: $windowBg;
$overviewCheckFgActive: $windowBg;
$overviewPhotoSelectOverlay: rgba(#40ace3, 33);
$profileStatusFgOver: #7c99b2;
$notificationsBoxMonitorFg: $windowFg;
$notificationsBoxScreenBg: $dialogsBgActive;
$notificationSampleUserpicFg: $windowBgActive;
$notificationSampleCloseFg: #d7d7d7; // windowSubTextFg;
$notificationSampleTextFg: #d7d7d7; // windowSubTextFg;
$notificationSampleNameFg: #939393; // windowSubTextFg;
$mainMenuBg: $windowBg;								// Main menu background (contacts/settings/version/etc)
$mainMenuCoverBg: $dialogsBgActive;
$mainMenuCoverFg: $windowFgActive;
$mediaPlayerBg: $windowBg;							// Music player background
$mediaPlayerActiveFg: $windowBgActive;
$mediaPlayerInactiveFg: $sliderBgInactive;
$mediaPlayerDisabledFg: #9dd1ef;
$mediaviewFileBg: $windowBg;
$mediaviewFileNameFg: $windowFg;
$mediaviewFileSizeFg: $windowSubTextFg;
$mediaviewFileRedCornerFg: #d55959;
$mediaviewFileYellowCornerFg: #e8a659;
$mediaviewFileGreenCornerFg: #49a957;
$mediaviewFileBlueCornerFg: #599dcf;
$mediaviewFileExtFg: $activeButtonFg;
$mediaviewMenuBg: #383838;
$mediaviewMenuBgOver: #505050;
$mediaviewMenuBgRipple: #676767;
$mediaviewMenuFg: $windowFgActive;
$mediaviewBg: rgba(#222222, eb);
$mediaviewVideoBg: $imageBg;
$mediaviewControlBg: rgba(#000000, 3c);
$mediaviewControlFg: $windowFgActive;
$mediaviewCaptionBg: rgba(#111111, 80);
$mediaviewCaptionFg: $mediaviewControlFg;
$mediaviewTextLinkFg: #91d9ff;
$mediaviewSaveMsgBg: $toastBg;
$mediaviewSaveMsgFg: $toastFg;
$mediaviewPlaybackActive: #c7c7c7;
$mediaviewPlaybackInactive: #252525;
$mediaviewPlaybackActiveOver: #ffffff;
$mediaviewPlaybackInactiveOver: #474747;
$mediaviewPlaybackProgressFg: rgba(#ffffff, c7);
$mediaviewPlaybackIconFg: $mediaviewPlaybackActive;
$mediaviewPlaybackIconFgOver: $mediaviewPlaybackActiveOver;
$mediaviewTransparentBg: #ffffff;
$mediaviewTransparentFg: #cccccc;
$notificationBg: $windowBg;							// Notification background
