:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  app-editor {
    height: 100%;
  }
  telegram-app {
    height: 100%;
  }
}
